h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #4A48AE;
}
.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.my-4 {
    border-top: 4px solid rgba(128,126,206);
}
.row {
    padding: 4rem 2rem;
    padding-top: 0;
}
.jumbotron {
    padding-bottom: 0;
    background-color: white;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
}
.lifelinelogo {
    padding: 1rem; 
    padding-left: 0;
    padding-top: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(128,126,206);
}
a {
    color: #4A48AE;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #C3C2E2;
    margin: 10pt;
    display: flex;
    align-items: center; 
    justify-content: center
  }

.flex_donate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.donate_text {
    color: black;
    text-align: center;
    margin: 5px;
}
.blockquote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
.images_animals {
    width: 100%;
    padding: 10px;
}