body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem; 
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #4A48AE;
    margin-top: .5rem;
}
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 3px;
    padding-left: 0;
    margin-block-end: 0rem;
}
.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.my-4 {
    border-top: 4px solid rgba(128,126,206);
}
.row {
    padding: 4rem 2rem;
    padding-top: 0;
}
.jumbotron {
    padding-bottom: 0;
    background-color: white;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    margin-top: 1rem;
}
.lifelinelogo {
    padding: 1rem; 
    padding-left: 0;
    padding-top: 0;
    text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(128,126,206);
}
a {
    color: #4A48AE;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #C3C2E2;
    margin: 10pt;
    display: flex;
    align-items: center; 
    align-content: center;
    justify-content: center
  }

.flex_donate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.donate_text {
    color: black;
    text-align: center;
    margin: 5px;
}
.blockquote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    padding: 15px;
}
.img-fluid {
    padding: 10px;
}
.card {
    font-family: 'Lato', sans-serif;
}
.card-body {
    background-color: #C3C2E2;
}
.pet_match {
    padding: 0rem 0rem;
    padding-top: 0rem;
}
li {
    list-style-type: none;
}
ul {
    padding-left: 0;
}
/*
.ux_designers {
    border: 1px solid #4A48AE;
    border-radius: 20%;
}
*/
.col-10 {
    max-width: none;
}
.caption {
    padding: 2px;
}
.ProblemStatement {
    color: white;
    background-color: #807ECE;
    padding: 25px;
    border-radius: .25rem;
    margin-block-end: 10px;
}
.row {
    padding-top: 1rem;
}
.adobeButton {
    color: white;
    padding: 1rem;
    background-color:#807ECE;
    border: none;
    margin-block-end: 10px;   
    border-radius: .25rem;
    width: 15rem;
    height: 4rem;
}
.button_container {
    text-align: left;
    padding: 20px;
}
.iphone {
    border: .1rem solid black;
    border-radius: .25rem;
    width: 15rem;
}
.abc_testing {
    background-color: #C3C2E2;
    padding: 2rem;
}
.home_screen {
    text-align: center; 
}
.Pet_Match_Cover {
    width: 40%;
}